<style>
    .card-container {
        display: flex;
        justify-content: center;
    }

    .card-img-top1 {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    #card1 {
        width: 300px;
        height: 400px;
        display: inline-block;
        margin-right: 40px;
        justify-content: center;
    }

    #card2 {
        width: 300px;
        height: 400px;
        display: inline-block;
        margin-right: 40px;
        justify-content: center;
    }

    #card3 {
        width: 300px;
        height: 400px;
        display: inline-block;
        margin-right: 40px;
        justify-content: center;
    }

    #card4 {
        width: 300px;
        height: 400px;
        display: inline-block;
        margin-right: 40px;
        justify-content: center;
    }
</style>

<div class="card-container">

    <div class="card" id="card1">
        <img src="./img/searchBook.jpg" class="card-img-top1">

        <div class="card-body">
            <h5 class="card-title">도서 조회</h5>
            <p class="card-text">원하는 도서를 검색하고 신속하게 정보를 확인하세요!</p>
            <a href="libraryService.html" class="btn btn-primary">select</a>
        </div>
    </div>

    <div class="card" id="card2">
        <img src="./img/readBook.jpg" class="card-img-top1">

        <div class="card-body">
            <h5 class="card-title">도서 대출</h5>
            <p class="card-text">필요한 도서를 대출하고 지식의 폭을 넓히세요!</p>
            <a href="libraryService.html" class="btn btn-primary">select</a>
        </div>
    </div>

    <div class="card" id="card3">
        <img src="./img/returnBook.jpg" class="card-img-top1">

        <div class="card-body">
            <h5 class="card-title">도서 반납</h5>
            <p class="card-text">대출 도서를 반납할 수 있습니다!</p>
            <br>
            <a href="libraryService.html" class="btn btn-primary">select</a>
        </div>
    </div>

    <div class="card" id="card4">
        <img src="./img/applyBook.jpg" class="card-img-top1">

        <div class="card-body">
            <h5 class="card-title">희망 도서 신청</h5>
            <p class="card-text">도서관에 없는 도서를 요청하고 향후 구매나 입고를 위한 신청하세요!</p>
            <a href="libraryService.html" class="btn btn-primary">select</a>
        </div>
    </div>


</div>
</div>

<!-- 참고 -->
<!-- #cardBtn2 {
background-color: #63606d;
border-color: aliceblue;
}

#cardBtn2:hover {
background-color: rgb(0, 133, 126);
}

#cardBtn2:active {
background-color: rgb(0, 133, 126);
} -->


