<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



    <style>
        .btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5 {
            background-color: yellow;
        }

        #nav3 {
            width: 100%;
            width: 1207px;
            margin: 0 auto;
        }

        #nav2 {
            width: 1207px;
        }

       #Logo{
        width: 100px;
        height: 100px;
       }
    </style>

</head>

<body>
    <br>
    <div id="nav3">
        <div id="nav2">
            <nav id="nav">
                <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                    <a href="index.html" class="navbar-brand p-0">
                        <h1 class="m-0" style="font-family: 'hanabold' !important; font-weight: bold;">
                            <img src="./img/img-hana-symbol.png" alt="Logo" id="Logo">
                            Hati Library</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0"
                            style="font-family: 'hanabold' !important; font-weight: bold;">
                            <a href="index.html" class="nav-item nav-link active">Home</a>
                            <a href="about.html" class="nav-item nav-link">도서관 안내</a>
                            <a href="service.html" class="nav-item nav-link">이용 서비스</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                                <div class="dropdown-menu m-0">
                                    <a href="feature.html" class="dropdown-item">내서재</a>
                                    <a href="quote.html" class="dropdown-item">Login</a>
                                    <a href="team.html" class="dropdown-item">Our Team</a>
                                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                                    <a href="404.html" class="dropdown-item">404 Page</a>
                                </div>
                            </div>
                            <a href="contact.html" class="nav-item nav-link">Contact</a>
                        </div>
                        <a href="" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">Login</a>
                    </div>
                </nav>
            </nav>
        </div>
    </div>
</body>

</html>